*.o
*.a
*.dep
Make.conf
auxiliary/convcal
auxiliary/convcal.exe
config.log
config.status
configure
doc/FAQ.html
doc/FAQ.pdf
doc/UsersGuide.html
doc/UsersGuide.pdf
include/config.h
lib/graal/parser.c
lib/graal/parser.h
lib/graal/scanner.c
lib/graal/scanner.h
lib/grace/xml_in.c
src/qtgui/Makefile.qt
src/qtgui/Make.common
src/qtgui/moc_mainwindow.cpp
src/qtgui/moc_canvaswidget.cpp
src/qtgui/moc_qtgrace.cpp
src/qtgui/moc_fileselectiondialog.cpp
src/qtgui/ui_mainwindow.h
src/qtgui/ui_fileselectiondialog.h
src/qtgui/object_script.libqtgrace
src/buildinfo
src/buildinfo.exe
src/buildinfo.h
src/grace
src/xmgrace
src/qtgrace
src/qtgrace.exe
src/pars.c
src/tags
autom4te.cache/

