#     +------------------------------------+
#     | An example of Grace resource file  |
#     | Edit paths according to your setup |
#     +------------------------------------+
#
# Convert old binary projects on-the-fly
DEFINE IFILTER "/usr/local/grace/bin/grconvert %s -" MAGIC "00000031" 
#
# This one is for automatic import of Origin-4 fit description files
DEFINE IFILTER "/usr/local/grace/auxilary/fdf2fit %s -" PATTERN "*.fdf"
#
# Save disk space by keeping files gzip'ed
DEFINE IFILTER "gzip -dc %s" PATTERN "*.gz"
DEFINE OFILTER "gzip - > %s" PATTERN "*.gz" 
#
